.savedNotesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(121, 120, 120, 0.1);
  width: 450px;
  height: 60vh;
  max-height: 700px;
  overflow-y: scroll;
  margin-left: 5rem;
  box-sizing: content-box;
  border-radius: 5px;
}
.peekMessage {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  width: 280px;
  height: fit-content;
}
.savedMessage {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  max-width: 400px;
  margin: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
}
.timeBoxSaved {
  display: inline-flex;
  justify-content: start;
  color: green;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.savedComments{
  width: 220px;
  overflow-wrap: break-word;
  color: gray;
  margin-left: 2rem;
  margin-top: 0;
}

.empty{
  font-style: italic;
  color: rgb(107, 107, 107);
}

/* ==============================================================Other Screens=========================================================== */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .savedNotesContainer {
      width: 300px;
      height: 35vh;
      margin-top: 2rem;
      margin-left: 0;
      align-self: center;
    }
    .peekMessage {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      width: 140px;
      height: fit-content;
    }
    .savedMessage {
      display: flex;
      justify-content: space-around;
      background-color: white;
      width: 90%;
      margin: 0.2rem;
      padding-right: 0;
      border-radius: 7px;
    }
    .timeBoxSaved {
      display: inline-flex;
      justify-content: center;
      color: green;
      font-size: 0.5rem;
      margin-left: 0;
    }
    .savedComments{
      width: 110px;
      align-self: center;
      margin-left: 0;
      margin-top: 0;
      font-size: 0.85rem;
    }
    
    .empty{
      font-style: italic;
      color: rgb(107, 107, 107);
      font-size: 0.9rem;
    }
    h2{
      font-size: 1.2rem;
    }

}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .savedNotesContainer {
      width: 400px;
      height: 35vh;
      margin-top: 3rem;
      margin-left: 0;
      align-self: center;
    }

}
