.savedNotesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(121, 120, 120, 0.1);
  width: 450px;
  height: 60vh;
  overflow-y: scroll;
  margin-left: 10vw;
  box-sizing: content-box;
  border-radius: 5px;
}
.peekMessage {
  display: flex;
  flex-direction: column;
  margin-left: 0.4rem;
  width: 280px;
  height: fit-content;
}
.savedMessage {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  max-width: 400px;
  margin: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
}
.timeBoxSaved {
  display: inline-flex;
  justify-content: start;
  color: green;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.savedComments{
  width: 220px;
  overflow-wrap: break-word;
  color: gray;
  margin-left: 2rem;
  margin-top: 0;
}

.empty{
  font-style: italic;
  color: rgb(107, 107, 107);
}

