.deleteBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem;
  margin-left: 1rem;
}
.deleteBtn {
  background: rgb(241, 58, 58);
  color: #fff;
  padding: 0.65rem;
  border: none;
  border-radius: 5px;
}
/* ==============================================================Other Screens=========================================================== */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .deleteBtnContainer {
      padding: 0;
      margin-left: 0;
    }

    .deleteBtn {
      padding: 0.45rem;
      font-size: 0.5rem;
      border-radius: 3.5px;
    }
    

}
