.tinyEditContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    margin-left: 1rem;
  }
  .tinyEdit {
    background: rgb(147, 186, 196);
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
  }

  /* ==============================================================Other Screens=========================================================== */

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  .tinyEditContainer {
    padding: 0;
    margin-left: 0;
  }

  .tinyEdit {
    padding: 0.35rem;
    border-radius: 4px;
  }
}