.newNotesContainer {
  display: flexbox;
  flex-direction: column;
  background-color: #a4d7c4;
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px rgba(94, 94, 94, 0.3);
}
.notesContainer {
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}


/* ==============================================================Other Screens=========================================================== */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .newNotesContainer {
      margin-top: 2rem;
      align-self: center;
    }
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .newNotesContainer {
      margin-top: 20vh;
      align-self: center;
    }

}